body{
	background-color: darkkhaki;
}
.myfirst{
	background-color: khaki;
}
img{
	width:175px;
	height:175px;
}
h1{
	font-size: 50px;
	text-align: center;
}
fieldset{
	margin-left: 350px;
	margin-right: 350px;
}

label{
	width: 180px;
	clear : left;
	text-align : left;
	padding-right;10px;
}
input,label{
	float: left;
	font-size: 16px;
}
button2{
	margin-left:1295px;
}
input[type=submit]{
	margin-left: 250px;
}
