body{
    background-color:darkkhaki;
}
.myfirst{
    background-color: khaki;
    text-align: center;
}

label{
    display: inline;
    align-content: center;
    font-size: 22px;
}

textarea{
    width: 300px;
    height: 200px;
    margin-left: 400px;
}
select{
    width: 250px;
    height: 30px;
}
formatting{
    margin-left: 400px;
}
button_align2{
    margin-left: 200px;
}
this{
    font-size: 22;
    margin-left: 400px;
}
img{
    width: 175px;
    height: 175px;
}
h1{
    font-size: 40px;
}
p1{
	margin-left: 300px;
}
p2{
	margin-left: 50px;
}
button2{
	margin-left:1280px;
}
input[type=number]{
	width: 100px;
	height: 30px;
}
input[type=submit]{
	width: 200px;
	height: 25px;
}
input[type=button]{
	width: 50px;
	height: 25px;
}