body{
    background-color:darkseagreen;
}
.first_one{
    background-color: beige;
    width: auto;
    height: 150px;
    text-align: center;
}
second_one{
    font-size: 20;
}
label{
    display: inline;
    align-content: center;
    margin-left: 400px;
}
input{
    margin-left: 100px;
    width: 100px;
    height: 50px;
}
p{
    display:flex;
}
select{
    width: 200px;
    height: 50px;
}

table{
    background-color:aliceblue;
    margin-left: 530px;
}