body{
    background-color:darkseagreen;
}
.myfirst{
    background-color: beige;
    width: auto;
    height: 150px;
    text-align: center;
}

second{
   font-size: 20; 
}

label{
    display: inline;
    align-content: center;
    margin-left: 300px;
}

textarea{
    width: 300px;
    height: 200px;
    margin-left: 400px;
}
select{
    width: 200px;
    height: 25px;
}
formatting{
    margin-left: 400px;
}
button_align2{
    margin-left: 200px;
}
this{
    font-size: 25;
    margin-left: 400px;
}