a{
 color:white;
 text-decoration:none; 
}


div{
	width:400px;
	margin:auto;
	text-align:left;
	background-color:darkseagreen; 
}
size{
    padding: 10px;
}
marginAllign{
  margin-right:400px; 
}