body{
	background-color: darkkhaki;
}
.myfirst{
	background-color: khaki;
}
img{
	width:250px;
	height:250px;
}
h1{
	font-size: 50px;
	text-align: center;
}
fieldset{
	margin-left: 400px;
	margin-right: 400px;
}

label{
	width: 180px;
	clear : left;
	text-align : left;
	padding-right;10px;
}
input,label{
	float: left;
	font-size: 16px;
}
