body{
    background-color:darkkhaki;
}
.myfirst1{
    background-color: khaki;
    text-align: center;
}
second_one{
    font-size: 25px;
}
label{
    display: inline;
    align-content: center;
	font-size: 16px;
}
input{
    margin-left: 100px;
    width: 100px;
    height: 50px;
    font-size: 16px;
}
p{
    display:flex;
}
select{
    width: 300px;
    height: 50px;
}

table{
    background-color:khaki;
    margin-left: 530px;
}
h1{
    font-size: 40px;
}
img{
    width: 250px;
    height: 250px;
}
option{
    font-size: 16px;
}
s1{
	margin-left:50px;
}